/* index.css */

/* Resetting some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: white; /* Set entire background to white */
  color: #333; /* Dark grey text */
  font-family: 'Arial', sans-serif;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: white; /* Ensure the root element background is white */
}

/* Adding a global class for buttons */
button {
  outline: none;
  border: none;
  cursor: pointer;
}
